body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("./images/backgrounds/landscape/background-2560.webp"); /* Fallback image */
	background-repeat: no-repeat;
	background-size: cover; /* Adjusts to fit the screen */
	background-position: bottom right; /* Aligns image to the bottom center */
	background-attachment: fixed; /* Parallax effect */
	font-family: sans-serif;
	color: white;
	overflow-x: hidden;
	background-color: #a2aa9b;
}

@media (orientation: portrait) {
	body {
		background-image: url("./images/backgrounds/portrait/background-2560.webp");
		background-position: top right;
		background-repeat: no-repeat;
	}
}
