.About {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-title {
	font-weight: 100;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 5px;
}

.about-container {
	display: flex;
	margin-top: 3%;
	width: 94%;
	margin-left: 2%;
	margin-right: 2%;
}

.about-image-container {
	flex: 0.7;
	margin-right: 3%;
}

@media (max-width: 768px) {
	.about-image-container {
		margin-right: 5%;
	}
}

.about-text-container {
	flex: 1.3;
}

.me {
	border: 1.5px solid black;
	width: 100%;
	max-width: 450px; /* limit the maximum width */
	height: auto;
}

.about-text-container {
	text-align: left;
	width: 100%; /* make the width responsive */
}

.about-text-title {
	letter-spacing: 3px;
	margin-top: 0;
	font-size: 2.5em;
}

.about-text-content {
	font-weight: 100;
	line-height: 1.5;
	font-size: 1.5em;
}

.about-cv-container {
	margin-top: 6%;
}

.about-cv-button {
	border: 1.5px solid black;
	text-decoration: none;
	color: black;
	padding: 2%;
	border-radius: 5px;
	background-color: rgba(192, 201, 186, 1);
	font-size: large;
}

.about-cv-button:hover {
	background-color: rgba(192, 201, 186, 0.8);
	cursor: pointer;
}

@media (max-width: 768px) {
	.about-text-content {
		font-size: 1.3em;
	}

	.about-text-title {
		font-size: 2em;
	}
}

@media (max-width: 576px) {
	.about-text-content {
		font-size: 1.1em;
	}

	.about-text-title {
		font-size: 1.8em;
	}
}
