.footer {
	margin-top: 3%;
	background-color: rgba(36, 47, 26, 0.1);
	color: white;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap; /* Allow wrapping of items */
	box-sizing: border-box; /* Include padding in the total width */
	margin: 2% 1%;
}

.footer-links {
	display: flex;
	width: 100%; /* Use full width for better responsiveness */
	justify-content: flex-end; /* Align to the right by default */
	max-width: 600px; /* Prevent the container from being too wide */
	flex-wrap: wrap; /* Allow wrapping of items */
}

.footer-tag p {
	margin: 0;
}

.footer-links ul {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
	flex-wrap: wrap; /* Allow items to wrap on smaller screens */
	gap: 20px; /* Add gap between links */
}

.footer-link {
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	position: relative;
	transition: color 0.4s ease;
}

.footer-link::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.4s ease;
}

.footer-link:hover {
	color: rgba(255, 255, 255, 0.5);
}

.footer-link:hover::before {
	transform: scaleX(1);
}

@media (max-width: 768px) {
	.footer {
		margin-top: 6%;
		font-size: 1em;
	}

	.footer-content {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin: 1% 1%;
		margin-bottom: 2%;
	}

	.footer-tag {
		margin: 2.5% 0;
	}

	.footer-links {
		align-items: center; /* Center links on smaller screens */
		justify-content: center; /* Center links on smaller screens */
		width: 100%;
	}

	.footer-links ul {
		justify-content: center; /* Center links on smaller screens */
	}
}

@media (max-width: 480px) {
	.footer {
		margin-top: 8%;
		margin-bottom: 4%;
		font-size: 0.9em;
	}
}
