.Main {
	overflow-x: hidden; /* Hide any horizontal overflow */
}

.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 5%; /* Reduce padding for better fit */
	box-sizing: border-box;
	width: 100%;
}

.cover .name-text,
.title-text,
.desc-text {
	text-align: center;
	font-weight: 100;
}

.desc-text {
	letter-spacing: 0.2em;
}

.cover .name-text {
	margin-bottom: 0;
}

.name {
	font-size: 3em; /* Default font size */
	text-align: center;
	max-width: 100%; /* Ensure the name does not exceed the container width */
	overflow-wrap: break-word; /* Handle overflow gracefully */
	word-break: break-word; /* Support for breaking long words */
	margin: 0 auto; /* Center the text horizontally */
}

.cover .title-text {
	font-size: 1.5em; /* Default title font size */
	max-width: 100%;
	overflow-wrap: break-word;
	word-break: break-word;
	margin-top: 1%;
}

.desc {
	margin-top: 5%;
	width: 80%;
	letter-spacing: 0.1em;
	text-align: center;
	overflow-wrap: break-word;
	word-break: break-word;
}

.blinking-cursor {
	color: white;
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
	.name {
		font-size: 2.5em; /* Adjust font size for medium screens */
	}
	.cover .title-text {
		font-size: 1.2em; /* Adjust title font size */
	}
	.desc {
		width: 90%; /* Allow more space for content */
	}
}

@media (max-width: 480px) {
	.name {
		font-size: 2em; /* Adjust font size for smaller screens */
		word-break: break-word; /* Ensure text breaks if necessary */
	}
	.cover .title-text {
		font-size: 1.2em; /* Adjust title font size */
	}
	.desc {
		width: 90%; /* Allow more space for content */
	}
}
